body{
  background-image: url('../static/images/pattern.png');
  background-size: 100px;
  background-color: rgb(160, 160, 160);
  height: 100%;
}

.bookcover{
  background-color : #bfdae2;
  border-radius: 10px;
  border: 1px solid #6d777a;
  width: 1000px;
  height: 700px;
  margin: 100px auto;
}

.bookdot{
  display: flex;
  border-color : white;
  border-width: 3px;
  width:970px;
  height:670px;
  border-style: dashed;
  margin: 12px auto;
  border-radius: 10px;
}

.page{
  background-color : white;
  border-radius: 10px;
  width: 950px;
  height: 650px;
  margin: 10px auto;
}