body{
  background-image: url('../static/images/pattern.png');
  background-size: 100px;
  background-color: rgb(160, 160, 160);
  height: 100%;
}

.bookcover{
  background-color : #bfdae2;
  border-radius: 10px;
  border: 1px solid #6d777a;
  width: 1000px;
  height: 700px;
  margin: 100px auto;
}

.bookdot{
  display: flex;
  border-color : white;
  border-width: 3px;
  width:970px;
  height:670px;
  border-style: dashed;
  margin: 12px auto;
  border-radius: 10px;
}

.page{
  background-color : gainsboro;
  border-radius: 10px;
  width: 950px;
  height: 650px;
  margin: 10px auto;
  display: flex;
}

.box{
  border: 1px solid grey;
}
.layoutleft{
  background-color: gainsboro;
  display: flex;
  flex: 0.4;
  flex-direction: column;
  margin: 15px;
}

.layoutcenter{
  background-color: gainsboro;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu{
  background-color: gainsboro;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  margin: 15px 15px 15px 0px;
}

.left1{
  flex: 0.1;
  background-color: gainsboro;
  text-align: center;
}

.left2{
  flex: 1;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}

.center1{
  flex: 0.1;
  background-color: gainsboro;
  font-size: 15px;
  font-weight: bold;
}

.center2{
  flex: 1;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}